

.contenedor{
   margin-top: 0%;
    
}
header{
    margin:0;
    padding: 0;
    ;
}

.titulos{
    font-size: 20px;
    text-align: center;
}
label{
margin: 2px;
font-size: 15px;
display: inline-block;
width: 90px;
text-align: right;
}
input{
font-size: 15px;
margin: 2px;
border-radius: 5px;
height: 28px;
}

.datos{
  display: flex;
}
.selector{
    font-size: 25px;
}
.flex-container {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: nowrap;
  }
  .flex-container-div{
  
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   margin-left: 25px;

  }

  .flex-container-div-documentos{
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 25px;
    width: 25%;
    text-align: center;
    label{
        text-align: center;
        width: 50%;
    .file{
        text-align: center;
    }
    }
  }


  select{
    font-size: 18px;
    margin: 2px;
    border-radius: 5px;
    height: 25px;
    width: 60%;
  }

.camara{
    width: 100%;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
}

video{
    width: 60%;
    height: 220px;
    background: red;
    padding: 0;
    margin: 0;

}

.file{

text-align: center;
font-size: 11px;
}
.form-group{
justify-content: center;
}